.menu {
	background-color: #D5B0AC;
	color: #402E2A;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.menu span {
	width: 100px;
}

.menu_vertical {
	width: 100px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu_vertical span {
	background-color: #D5B0AC;
	color: #402E2A;
	width: 100px;
	border-bottom-width: 0.5px;
	border-bottom-style: solid;
	border-bottom-color: white;
}

span:hover {
	background-color: #9CD08F;
	color: #FFFFFF;
}
